.App {
    /* background-color: #fafaf5; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.left-container h1 {
    color: #42cd8c;
    font-size: 4rem;
}

.left-container h4 {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
    text-align: justify;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
}

.rating1 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    align-self: auto;
}

.rating2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    align-self: auto;
}

.quiz-content {
    border: 1px solid cornsilk;
    border-radius: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.diets {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
